*.sw?
.*.sw?
*.log
*.box
*.tar
.vagrant
.DS_Store
.sudo_as_admin_successful
queries.txt
host_user.json
log/*
*.diff
*.orig
*.vim
site-cookbooks/linux_dev_base/templates/default/vagrant_plugin.rb
local_settings.json
cache/*
/Berksfile.*.lock
